
/* [html: მაგალითი1] */
/* .parent {
  width: 500px;
  height: 800px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child{
  width: 80%;
  height: 80%;
  background-color: green;
} */

/* [html: მაგალითი 2] */
/* .parent {
  width: 500px;
  height: 800px;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
